{% extends 'base.html' %}

{% block title %}Validate Data{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Product Details</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Attribute</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in json_data.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="descriptions mt-4">
        <h4>Generated Descriptions:</h4>
        
        <p>{{ generated_descriptions }}</p>
        
    </div>

    <div class="mt-4">
        <form action="{{ url_for('submit_description') }}" method="post">
            <!-- Hidden input fields to store JSON data and descriptions -->
            <input type="hidden" name="json_data" value="{{ json_data }}">
            <input type="hidden" name="generated_descriptions" value="{{ generated_descriptions}}">
            <button type="submit" class="btn btn-primary">Submit Data</button>
        </form>
    </div>
</div>
{% endblock %}
